body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

#nav{
    background-color:#004247;
}

#imgcadastro{
    
}

h1{
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}